extends layout

block content

    h1=title
  
      p
        label(for="title") Title
        =book.title
      p
        label(for="author") Author
        =book.author
      p
        label(for="genre") Genre
        =book.genre
      p
        label(for="year") Year
        =book.year
      p
        a.button(href="/book-details/edit/"+ book.id) Edit Book
      
      p
        a.button(href="/") Home

