extends layout

block content

    h1=title
    
    p Are you sure you want to delete? 
      em= book.title

    
    form(action="/books/" + book.id + "/delete" method="post")
 
          a.button(href="/book-details/edit/"+ book.id) Edit Book
          
          p
            a.button(href="/") Home
        
          
          input(type="submit", value = "Yes, Delete Book")

